.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(42, 92, 108);
  margin: 0;
  padding: 0;
}


#buttonContainer {
  display: flex;
  flex-direction: row;    /* buttons next to each other */
  gap: 15px;              /* spacing between buttons */
  margin-top: 20px;       /* space above the button row */
  justify-content: center;
}

#button1, 
#button2, 
#button3 {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid lightblue;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.2s ease;
}

#button1:hover,
#button2:hover,
#button3:hover {
  background-color: #264040;
}


#text {
  color: rgb(80, 140, 140);                 /* make text blue */
  font-size: 1.5rem;                /* larger text */
  font-weight: 500;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}


#button1 {
  color: rgb(151, 47, 47);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

#button2 {
  color: rgb(151, 47, 47);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

#button3 {
  color: rgb(151, 47, 47);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
